<h1><%= @user.nickname %></h1>

<dl>
  <dt>First name</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Description</dt>
  <dd><%= @user.description %></dd>
</dl>

<h2>Posts</h2>

<ul>
  <% @user.posts.each do |post| %>
    <li><%= post.text %></li>
  <% end %>
</ul>
